.side-bar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 10px 5px;
    border-inline-end: 1px solid rgb(238, 236, 236);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    align-items: center;

    .side-bar-icon {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        .anticon {
            font-size: 25px;
            cursor: pointer;

            &.active {
                background-color: rgb(66, 78, 237);
                color: white;
                padding: 5px;
                border-radius: 5px;
            }
        }
    }
}